html, body {
    height: auto;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    padding: 10px 0 10px 0;
    background: url(../img/bg.png);
    float: left;
    width: 100%;
    overflow: hidden;
}
header h1 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 3.6rem;
    font-weight: 400;
    color: white;
    padding: 26px 0 0 0;
}
header h1 a {
    text-decoration: none;
    color: white;
    transition: 200ms color;
}
header h1 a:hover {
    color: #ff8a8a;
}
header p {
    text-align: center;
    color: white;
    padding-bottom: 22px;
}
header p a {
    color: #ececec;
    transition: 200ms color;
}
header p a.gitlab {
    font-size: 0.78rem;
    text-decoration: none;
    margin-top: 3px;
    display: block;
    text-decoration: underline;
}
header p a.gitlab i {
    margin-right: 3px;
}
header p a:hover {
    color: #ff8a8a;
}
main {
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
    overflow: hidden;
    height: auto;
    background: #eaeaea;
}
#login {
    text-align: center;
}
.centered {
    min-width: 320px;
    max-width: 410px;
    text-align: center;
    margin: 0 auto;
}

h2 {
    color: #450000;
}
canvas {
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    display: none;
}
video {
    position: absolute;
    display: none;
}
#progress {
    display: none;
    float: left;
    overflow: hidden;
    border: 1px solid #b5b5b5;
    width: calc(100% - 3px);
    padding: 0;
    margin: 20px 0 20px 0;
    box-shadow: 0px 0px 6px 1px #969696;
}
#progress p {
    padding: 15px;
    margin: 0;
    color: #4e4a4a;
    background: #fdfdfd;
    text-align: center;
}
#loggedin button {
    text-align: center;
    margin: 0 auto;
}
#loggedin p {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
}
#loggedin p span {
    font-weight: bold;
}
#logout {
    text-align: center;
    margin: 0 auto;
    display: block;
}
#progress p.success {
    color: white;
    background: #36700a;
}
#progress p.failed {
    color: #ffffff;
    background: #ff3737;
}
#recognition_video {
}
#cancel_login, #cancel_reg {
    width: 100%;
}
#recognition_video_wrapper {
    float: left;
    width: 100%;
    overflow: hidden;
    text-align: center;
    display: none;
}
#recognition_video {
    text-align: center;
    margin: 0 auto;
}
#done {
    display: none;
}
.mdc-button--raised:not(:disabled), .mdc-button--unelevated:not(:disabled) {
    background-color: #580000;
}
#register, #login {
    display: none;
    padding-top: 0px;
    margin: 0;
    overflow: hidden;
    float: left;
    width: 100%;
}
.mdc-text-field .mdc-text-field__input.invalid {
    caret-color: #b00020;
    color: #b00020;
}
.mdc-floating-label.invalid {
    color: #b00020 !important;
}
.mdc-text-field .mdc-line-ripple.invalid {
    background-color: #b00020;
}
#loggedin, #login_btn_registeration {
    display: none;
}
#or-text {
    text-align: center;
    width: 100%;
    display: block;
    padding: 10px 0 10px 0;
}
#buttons {
    text-align: center;
    padding-top: 50px;
}
#login_btn_registeration {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
#start_recognition {
    width: 100%;
    margin-bottom: 15px;
}
#start_recognition i {
    margin-right: 10px;
}
#login_btn {
    width: 100%;
    margin-bottom: 15px;
}
#notes {
    float: left;
    width: 100%;
    color: #3e3e3e;
    padding-top: 110px;
    padding-bottom: 50px;
    margin: 0 auto;
    display: block;
}
#notes p {
    padding-left: 20px;
    width: 100%;
    margin: 0 auto;
    min-width: 320px;
    margin: 0 auto;
    max-width: 547px;
}
#notes ul {
    min-width: 320px;
    margin: 0 auto;
    max-width: 547px;
    padding: 0 20px 0 57px;
}
footer {
    background: #460000;
    min-height: 120px;
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
    padding-bottom: 50px;
}
footer h3 {
    text-align: center;
    color: white;
    font-size: 1.87rem;
    font-weight: 300;
}
footer p {
    color: white;
    padding: 0 10% 0 10%;
}
footer p a {
    color: white;
    text-decoration: underline;
}
.mdc-text-field {
    float: left;
    width: 100%;
    background-color: white;
    margin-bottom: 0px;
}
.mdc-text-field__input {
    background: white;
}
.mdc-button--outlined:not(:disabled) {
    border-color: #580000;
    color: #580000;
    background: transparent;
}
.mdc-button--outlined::before, .mdc-button--outlined::after {
    background-color: #860000;
}
.mdc-text-field .mdc-text-field__input {
    caret-color: gray;
    color: gray;
}
.mdc-text-field .mdc-line-ripple {
    background-color: #450000;
}
.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: #313030;
}
.mdc-text-field:not(.mdc-text-field--disabled)+.mdc-text-field-helper-line .mdc-text-field-helper-text {
    color: #bc2742;
}
.mdc-input-group {
    overflow: hidden;
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.mdc-text-field-helper-line {
    display: none;
}
